<article class="post">
	<header class="post-header">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
 		<meta http-equiv="Expires" content="0">
  		<meta http-equiv="Pragma" content="no-cache">
		<div class="post-title"> 
			{{ page.title | escape }}
		</div>
		<time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{%- assign date_format = site.date_forma | default: "%Y/%m/%d" -%}
			{{ page.date | date: date_format }}
		</time>		
	</header>

	<div class="post-content">
		{{ content }}
	</div>
	<div class="post-blank">
	</div>
	<script src="https://utteranc.es/client.js"
    repo="jerry92k/log-comments"
    issue-term="pathname"
    theme="github-light"
    crossorigin="anonymous"
    async>
	</script>
</article>
